<img  class="resize" src="../../assets/figma-agro.svg"  alt="">
<div class="center-form">
    <!--tabs-->
      <div class="col-12" class="fill">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link" data-toggle="tab" [routerLink]="['signIn']" routerLinkActive="active" role="tab">Logar</a>
            <a class="nav-item nav-link" data-toggle="tab" routerLink="signUp" role="tab">Cadastrar</a>
          </div>
        </nav>
        
        <div class="tab-content">
            <router-outlet></router-outlet>
        </div>
      </div>
    </div>
 
